@model IEnumerable<Domain.Models.Poll>

@{
    ViewData["Title"] = "List";
}

<div class="container mt-5">
    <!-- Header Section -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="text-center mx-auto">Polls</h1>
        <a href="/Poll/CreatePoll" class="btn btn-outline-dark px-4">Add New Poll</a>
    </div>

    <!-- Poll Cards Section -->
    <div class="row g-4">
        @foreach (var poll in Model)
        {
            <div class="col-lg-4 col-md-6">
                <div class="card shadow-sm">
                    <div class="card-header bg-secondary text-white">
                        <h5 class="mb-0">@poll.Title</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Explore poll results and cast your vote.</p>

                        <a href="/Poll/Results?pollId=@poll.PollId" class="btn btn-outline-primary">Results</a>
                    </div>
                    <div class="card-footer bg-light d-flex justify-content-between">
                        <a href="/Poll/ViewPollDetails?pollId=@poll.PollId" class="btn btn-outline-success">View Details</a>

                        <a href="/Poll/Vote?pollId=@poll.PollId" class="btn btn-outline-danger">Vote</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
